$primary_color: rgb(255, 169, 184);
$secondary_color: rgb(41, 41, 41);
@import "libs/overlay.scss";

body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    background-image: url("images/wallpapper.jpg");
    background-size: 100%;
    background-color: rgba(41, 41, 41, 0.911);
    a{
        text-decoration: none;
    }
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
    h1{
        display: flex;
        align-items: center;
        color: white;
        text-shadow: 1px 1px 1px black;
        i{
            font-size: 50%;
            color: $primary_color;
        }
    }
    .header_section{
        background-color: $primary_color;
        color: $secondary_color;
        padding: 1em;
        border: solid 1.5px $secondary_color;
        border-radius: 0.6em;
        font-size: 20px;
        transition: all 150ms;
        &:hover{
            background-color: $secondary_color;
            color: $primary_color;
            border: solid 1.5px $primary_color;
            transform: scale(1.10); 
        }
    }
}
main{
    section{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-right: 20%;
        padding-left: 20%;
        i{
            font-size: 20px;
            color: $secondary_color;
        }
        img{
            width: 20%;
            margin: 3em;
            border-radius: 1em;
            border: solid 2px $secondary_color;  
        }
        .bouton_categorie{
            /*Alignement de "i" et "texte"*/
            display: flex;
            align-items: center;
            /*Style*/
            background-color: $primary_color;
            color: $secondary_color;
            padding: 12px;
            border: solid 1px $secondary_color;
            border-radius: 0.5em;
            font-size: 20px;
            transition: all 150ms;
            &:hover{
                background-color: $secondary_color;
                color: $primary_color;
                border: solid 1px $primary_color;
                transform: scale(1.10);
                i{
                    color: $primary_color;
                } 
            }
        }
        .bouton_categorie_alt
        {
            @extend .bouton_categorie;
            flex-direction: column;
        }
    }
    .section_colum{
        flex-direction: column;
    }
}